@charset "utf-8";

/* ===========================================================

   Footer 

=========================================================== */


.page-footer{
	width: 100%;
	background: #ddd;
	height: 150px;
}