@charset "utf-8";

/* ===========================================================

   [header] 

=========================================================== */

$color01: #ddd;
$color02: #fff;


.page-header{
	width: 100%;
	background: $color01;
}

.nav-header{
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#logo {
	padding: 10px 0 0 10px;
}

#menu {
	@include clearfix;
	text-align: right;
	margin: -20px 0 0;
	padding-bottom: 15px;
}

#global-menu {
	position: absolute;
	width: 100%;
	@include clearfix;
	background: #000;
	@include opacity(0.6);
	display: none;
	li{
		width: 33%;
		float: left;
		text-align: center;
		@include box-sizing(border-box);
		a{
			@include fontsize(12);
			padding: 8px 5px;
			display: block;
			color: $color02;
		}
	}
	li:nth-child(3n-1){
		border-right: 1px dotted $color01;
		border-left: 1px dotted $color01;
	}
}

@media screen and (min-width: 320px) and (max-width: 919px) {
	.nav-header{
		width: 100%;
		margin: 0 auto;
	}
}